$tablet-width: 1023px;
$mobile-width: 767px;
$info-color: #1890FF;
$success-color: #52C41A;
$main-background-color: #EBEEF3;
$white-background-color:#FFFFFF;
$black-color: #000000BF;
$semi-black-color: #00000080;
$input-border-color: #D9D9D9;
$form-text-color: #595959;
$grey-color:#E8E8E8;
$blind-grey-color: #8C8C8C;
$username-color: #000000D9;
$invalid-error-color: #F5222D;